main {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    background-color: limegreen;
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.75rem; 
}

.main-text {
    font-size: 50px;
}

.item-img {
    position: relative;
    top: 200px;
    left: 25%;
    height: 70%;
    width: 50%;
}

.buy-img {
    position: absolute;
    height: 150%;
    width: 5%;
    top: -5px;
    padding-left: 0.5rem;
}

.items-list {
    display: flex;
}

.items-list li {
    display: table-row;
}

.items-list h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;

    position: relative;
    text-align: center;
    top: 70%;

    transition: 0.5s;
}

.items-list h5:hover{
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    background-color: limegreen;
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
}

video {
    position: absolute;
    height: 100%;
    width: 100%;
}